#{extends 'backoffice/basePageBackoffice.html' /}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Slider
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@{backoffice.Dashboard.index()}"><i class="fa fa-dashboard"></i>L'archipel Citoyen</a></li>
        <li><a href="@{backoffice.Sliders.index()}"><i class="fa fa-file"></i>Gestion des slides de la page d'accueil</a></li>
        <li class="active"><a href="@{backoffice.Sliders.ajouter()}"><i class="fa fa-plus"></i>Création d'une nouvelle slide</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Création d'une nouvelle slide</h3>
                    <div class="box-tools pull-right">
                        <a class="btn btn-warning btn-sm" href="@{backoffice.Sliders.index()}"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Retour</a>
                    </div>
                </div>
                <form class="form-horizontal" action="@{backoffice.Sliders.ajouterPost}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="urlImage" class="col-sm-2 control-label">URL de l'image</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="urlImage" name="urlImage" placeholder="URL de l'image" value="${flash.urlImage}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="titre" class="col-sm-2 control-label">Titre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre" value="${flash.titre}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sousTitre" class="col-sm-2 control-label">Sous titre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="sousTitre" name="sousTitre" placeholder="Sous titre" value="${flash.sousTitre}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="texteBouton" class="col-sm-2 control-label">Texte du bouton</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="texteBouton" name="texteBouton" placeholder="Texte du bouton" value="${flash.texteBouton}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="urlBouton" class="col-sm-2 control-label">URL du bouton</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="urlBouton" name="urlBouton" placeholder="URL du bouton" value="${flash.urlBouton}">
                            </div>
                        </div>
                        
                        




                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>