#{extends 'frontoffice/basePageFrontoffice.html'/}


<div style="height:400px; background-image: url('https://s3.eu-west-3.amazonaws.com/archipel-citoyen/STATIQUE/toits_ville-de-toulouse.jpg'); background-size: cover;">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1 hidden-xs"></div>
            <div class="col-xs-12 col-sm-8">
                <br>
                <br>
                <h1 class="text-bold"  style=" font-weight: bolder; font-size: 36px; color: white !important;"> Adhérer au mouvement / Faire un don </h1>
                <div class="lead"  style="font-size: 24px; color: white !important;;">
                    <p>Adhérer vous permez de participer aux décisions lors des grands cercles</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<div class="container" style="padding-top:40px; padding-bottom: 40px;">
    <div class="row">
        <div class="col-md-12">
            <p>Le processus d’adhésion et de don à l’Archipel Citoyen est particulier et c’est pourquoi nous prenons dans cette page le temps de vous détailler celui-ci.</p>
            <p>
                Dès le début du mouvement, nous avons identifié la possibilité, de part nos activités liées à la sphère politique,
                de pouvoir faire bénéficier à nos adhérent.e.s de la défiscalisation de leurs adhésions et dons. Deux dispositifs se sont offerts à nous :
                <ul>
                    <li>
                        Donner à l’Archipel Citoyen le statut de parti politique et le déclarer comme tel auprès de la Commission Nationale
                        des Comptes de Campagne et des Financements Politiques <a href="http://www.cnccfp.fr/">www.cnccfp.fr/</a> . Ce processus est cependant très lourd
                        administrativement mais aussi financièrement car il demande que les comptes soient à la fois établis par un expert comptable
                        (comme toute association) mais aussi certifiés par un commissaire aux comptes.
                    </li>
                    <li>Collaborer à une initiative politique citoyenne nommée « La Relève Citoyenne » (<a href="http://www.relevecitoyenne.org">www.relevecitoyenne.org</a> ).
                                Celle-ci est née pour porter des candidatures citoyennes aux élections législatives et continue son travail
                                de renouveau démocratique en se proposant de fournir un appui administratif, communicationnelle et juridique
                                aux simples citoyen.ne.s ou listes qui souhaitent se présenter aux élections futures. Il nous a été proposé
                                de mutualiser les coûts pour l’année 2018-2019 avec ce mouvement (certification des comptes, envoi des bordereaux
                                de défiscalisation, gestion des adhésions)
                        .</li>
                </ul>
            </p>


            <p>
                Souhaitant faire le meilleur usage de votre argent, nous avons opté pour la seconde solution.
                Attention : en toute transparence, nous souhaitons indiquer que :
                <ul>
                    <li>
                        Si leur objectif de remettre le/la citoyen.ne au centre de la politique est totalement partagé avec l’Archipel Citoyen,
                        nous ne nous engageons pas formellement sur les objectifs programmatiques exposés sur leur site dans le cadre de la campagne législative.
                        Si beaucoup de leurs valeurs sont proches avec les des nôtres, notre collaboration est avant tout « technique » dans le but de
                        favoriser la démocratie participative. Pour tout questionnement, n’hésitez pas à venir nous en parler.
                    </li>
                    <li>
                        Toute adhésion ou don fait à l’Archipel Citoyen via le portail « La Relève » (voir mécanisme plus bas) est intégralement reversé sur notre compte du Crédit Coopératif
                        si notre nom est mentionné dans le champ "Initiative locale" .
                        Ce n’est qu’en fin d’exercice (mai 2019) que nous mutualiserons les couts avec la Relève et paierons notre part des coûts de certification des comptes.
                    </li>
                </ul>
            </p>

            <p>
                <br><br><br>
            <h3>En conséquence, le processus d’adhésion est le suivant :</h3>
                <br><br><br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Pour une adhésion : </h5>
            <ul>
                <li>
                    Nous vous demandons d’abord de renseigner une liste d’informations servant à établir notre base d’adhérents.
                    Cette base vous permettra d’accéder à certains droits (appartenir au Grand Cercle, bénéficier d’un accompagnement, pouvoir prendre part aux votes/décisions).
                    Elle n’est pas liée à la défiscalisation (voir plus bas)
                </li>
                <li>
                    Vous serez ensuite redirigé vers un formulaire de Don hébergé par la Relève Citoyenne
                    (même s’il s’agit pour vous d’une Adhésion à l’Archipel).
                </li>
                <li>
                    Ce formulaire commence par demander des « Informations de contact »
                    (Civilité/Nom/Prénom/Mandat electoral/Adresse/Code postal/ville/pays/Courriel/tel).
                    Ces données servent aux autorités publiques afin que la CNCCFP émette les attestations de défiscalisation.
                    Ces données ne seront pas utilisées à d’autres fins par La Relève. Nous nous en sommes assurés. Nous déplorons la nécessité de remplir deux fois certaines données dans le processus
                    d’adhésion mais c’est une limite technique.
                </li>
                <li>
                    La seconde partie « Don » sert à flécher les dons vers l’Archipel. Vous DEVEZ ainsi :
                    <ul>
                        <li>Indiquer un prix libre d’un montant supérieur à 2 euros, en accord avec la définition de l’adhésion élaborée en commun</li>
                        <li>Cocher « Je souhaite que mon don serve prioritairement à soutenir les initiatives locales portées par les membres de La Relève Citoyenne » et préciser « <b>Archipel Citoyen</b> » dans le champ libre (nota : la case n’est pas obligatoire mais conseillées sachant que tous les dons dont les codes postaux seront liés à  la Métropole seront fléchés vers nous). Comme mis ci-dessous, si vous cochez cette case, 100% de votre financement ira à l’Archipel Citoyen</li>
                        <li>Valider</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Pour un don : </h5>
            <ul>
                <li>Nous ne vous demandons pas de renseigner d’informations personnelles sur la page Archipel,
                    contrairement à l’adhésion. En effet, un donateur n’a pas le même statut (droits) qu’un adhérent.
                    Les informations fournies par La Relève sur les dons nous sont suffisantes pour vous connaître.
                </li>
                <li>
                    Vous devez ensuite cliquer sur un lien ci-dessous qui renvoie sur un formulaire de Don hébergé par la Relève Citoyenne.
                </li>
                <li>
                    Ce formulaire commence par demander des « Informations de contact » (Civilité/Nom/Prénom/Mandat electoral/Adresse/Code postal/ville/pays/Courriel/tel).
                    Ces données servent aux autorités publiques afin que la CNCCFP émette les attestations de défiscalisation. Ces données ne seront pas utilisées à
                    d’autres fins par La Relève. Nous nous en sommes assurés.
                </li>
                <li>
                    La seconde partie « Don » sert à flécher les dons vers l’Archipel. Vous DEVEZ ainsi :
                    <ul>
                        <li>Indiquer le montant de votre don</li>
                        <li>Cocher « Je souhaite que mon don serve prioritairement à soutenir les initiatives locales portées par les membres de La Relève Citoyenne »
                            et préciser « Archipel Citoyen » dans le champ libre (nota : la case n’est pas obligatoire mais conseillées sachant
                            que tous les dons dont les codes postaux seront liés à  la Métropole seront fléchés vers nous).
                            Comme mis ci-dessous, si vous cochez cette case, 100% de votre financement ira à l’Archipel Citoyen</li>
                        <li>Valider</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <a class="btn btn-success" href="/adherer">Commencer le processus d'adhésion</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <a class="btn btn-success" href="http://dons.relevecitoyenne.org/"><i class="fa fa-external-link-alt"></i> Commencer le processus de don <br>(sur le site de La Relève Citoyenne</a>
            </div>
        </div>
    </div>
</div>
