#{extends 'frontoffice/basePageFrontoffice.html'/}

<div style="height:450px; #{if cercle.couverture}background-image: url('${cercle.couverture?.url}'); background-position: center center; -webkit-background-size: cover;background-size: cover;#{/if}#{else}background-color:#f36e21;#{/else}">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <br>
                <h1 class="text-bold"  style=" font-weight: bolder; font-size: 36px; color: white !important;">${cercle.nom} </h1>
                <div class="lead"  style="font-size: 24px; color: white !important;;">
                    <p>${cercle.description}</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<div class="container" style="padding-top:40px;">
    <div class="row" style="margin-top:30px; margin-bottom:30px;">
        <div class="col-md-8">
            ${cercle.contenuPage.raw()}


            #{if fichiers}
                <h4>Fichiers mis à disposition par le cercle</h4>
                <ul>
                #{list items:fichiers, as:'fichier'}
                    <li><a target="_blank" href="${fichier.url}">${fichier.name}</a></li>
                #{/list}
                </ul>
            #{/if}


            #{if articles}
                <h4>Publications du cercle</h4>
                #{list items:articles, as:'article'}
                    <div class="card" style="margin-bottom:20px;">
                    #{if article.couverture}<img class="card-img-top" style="height:300px;" src="#{if article.couverture}${article.couverture?.url}#{/if}#{else}http://placehold.it/750x300#{/else}" alt="Card image cap">#{/if}
                        <div class="card-body">
                            <h2 class="card-title">${article.titre}</h2>
                            <p class="card-text">${article.introduction}</p>
                            <a href="@{frontoffice.PublicFront.afficherArticle(cercle.slug, article.slug)}" class="btn btn-primary">lire la suite →</a>
                        </div>
                        <div class="card-footer text-muted">
                            Ajouté le ${article.dateCreation.format("dd MMMM yyyy")} par ${article.compte.prenom} ${article.compte.nom}
                        </div>
                    </div>
                #{/list}
            #{/if}
        </div>
        <div class="col-md-4">
            <div class="card" style="margin-bottom: 30px;">
                <h5 class="card-header">Coordinateur du cercle</h5>
                <div class="card-body">
                    #{if !cercle.nomCoordinateur && !cercle.mailCoordinateur && !cercle.telCoordinateur}
                        <strong><i class="fa fa-envelope-o margin-r-5"></i> Mail</strong>
                        <p class="text-muted">contact@larchipelcitoyen.org</p>
                    #{/if}
                    #{else}
                        #{if cercle.nomCoordinateur}
                            <strong><i class="fa fa-user margin-r-5"></i> Identité</strong>
                            <p class="text-muted">${cercle.nomCoordinateur}</p>
                        #{/if}
                        #{if cercle.mailCoordinateur}
                            <strong><i class="fa fa-envelope-o margin-r-5"></i> Mail</strong>
                            <p class="text-muted">${cercle.mailCoordinateur}</p>
                        #{/if}
                        #{if cercle.telCoordinateur}
                            <strong><i class="fa fa-phone margin-r-5"></i> Téléphone</strong>
                            <p class="text-muted">${cercle.telCoordinateur}</p>
                        #{/if}
                    #{/else}
                </div>
            </div>

            #{if cercle.lienMattermost}
            <div class="card">
                <h5 class="card-header">Nous rejoindre sur Mattermost</h5>
                <div class="card-body">
                    <img class="img-responsive center-block" src="https://www.mattermost.org/wp-content/uploads/2016/03/logoHorizontal.png" alt="" style="width:250px;">
                    <p><br></p>
                    <strong><i class="fa fa-users margin-r-5"></i> Lien mattermost</strong><br>
                    <a href="${cercle.lienMattermost}" target="_blank"><i class="fa fa-external-link"></i> Ouvrir mattermost</a>
                </div>
            </div>
            #{/if}
        </div>
    </div>
</div>
