#{extends 'frontoffice/basePageFrontoffice.html'/}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            %{def i=0}%
            #{list items:slides, as:'slide'}
                <li data-target="#carouselExampleIndicators" data-slide-to="${i}" class="#{if slide_isFirst}active#{/if}"></li>
                %{i++}%
            #{/list}
        </ol>
        <div class="carousel-inner" role="listbox">

            #{list items:slides, as:'slide'}
            <div class="carousel-item #{if slide_isFirst}active#{/if}" style="background-image: url('${slide.urlImage}')">
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="carousel-caption d-none d-md-block text-right">
                            <h1>${slide.titre}</h1>
                            <p>${slide.sousTitre}</p>
                            #{if slide.texteBouton}<p><a class="btn btn-lg btn-primary" href="${slide.urlBouton}" role="button">${slide.texteBouton}</a></p>#{/if}
                        </div>
                    </div>
                </div>
            </div>
            #{/list}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédant</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</header>

<div class="container" style="padding-top:10px;">

#{if flash.error}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Attention !</h4>
    ${flash.error}
    </div>
#{/if}

#{if flash.success}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>	<i class="icon fa fa-check"></i> Action validée !</h4>
    ${flash.success}
    </div>
#{/if}

#{ifErrors}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Erreur(s) :</strong>
        <ul>
            #{errors}
                <li>${error}</li>
            #{/errors}
        </ul>
    </div>
#{/ifErrors}

    <h1 class="my-4">L'Archipel Citoyen <small class="text-muted">Osons <span class="type-text"></span></small></h1>
    <div class="row text-center" style="margin-top: 50px; margin-bottom:50px;">
        <div class="col-lg-4">
            <i class="fa fa-4x fa-book" aria-hidden="true"></i>
            <h2>Je m'informe</h2>
            <p>Suivez nous sur les réseaux sociaux : </p><p><a href="https://www.facebook.com/profile.php?id=1480937408642662" target="_blank">Facebook</a>, <a href="https://twitter.com/archipelTM" target="_blank">Twitter</a>, <a href="https://framapiaf.org/web/accounts/65646" target="_blank">Mastodon</a>, <a href="https://t.co/tYV0fCRkOT" target="_blank">Instagram</a>, <a href="https://www.youtube.com/channel/UCZJl5Z1a1PG36PLrf0xUsNg" target="_blank">Youtube</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-4x fa-eye" aria-hidden="true"></i>
            <h2>J'approfondis<br></h2>
            <p>Découvrez la <strong>Foire Aux Questions</strong> écrite par le cercle "Identité".</p>
            <p><a class="btn btn-secondary" href="/foire-aux-questions" role="button">Voir la FAQ</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-4x fa-rocket" aria-hidden="true"></i>
            <h2>Je participe</h2>
            <p>Découvrez la liste des cercles de travail existants et les contacts pour vous intégrer à un ou plusieurs de ces cercles.</p>
            <p><a class="btn btn-secondary" href="/cercles" role="button">Voir la liste des cercles</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row text-center" style="margin-top: 50px; margin-bottom:50px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <i class="fa fa-4x fa-user-check" aria-hidden="true"></i>
            <h2>Je soutien l'initiative</h2>
            <p>Je souhaite faire un don à Archipel Citoyen.</p>
            <p><a class="btn btn-secondary" href="/adherer-donner" role="button">Je donne</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <i class="fa fa-4x fa-user-plus" aria-hidden="true"></i>
            <h2>Je m'implique<br></h2>
            <p>je souhaite adhérer à Archipel Citoyen</p>
            <p><a class="btn btn-secondary" href="/adherer-donner" role="button">J'adhère</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-2"></div>
    </div><!-- /.row -->

</div>


#{if cercles}
<div style="height:250px; background-image: url('https://s3.eu-west-3.amazonaws.com/archipel-citoyen/STATIQUE/cercles.png'); background-position: center center; -webkit-background-size: cover;background-size: cover;">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-7 hidden-xs hidden-sm"></div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <br>
                <h1 class="text-bold"  style=" font-weight: bolder; font-size: 36px; color: white !important;"> Les cercles de travail </h1>
                <div class="lead"  style="font-size: 24px; color: white !important;;">
                    <p>Découvrez les travaux menés par les cercles de l'Archipel Citoyen</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
#{/if}

<div class="container" style="padding-top:40px;">
    #{if cercles}
    <div class="row">
        #{list items:cercles, as:'cercle'}
        <div class="col-xs-12 col-sm-12 col-md-4 text-center center-block" style="margin-bottom: 20px;">
            <a href="@{frontoffice.PublicFront.afficherCercle(cercle.slug)}">
                <i style="color:grey;" class="fa #{if cercle.pictogramme}${cercle.pictogramme}#{/if}#{else}fa-circle-o-notch fa-rotate-${(90*cercle_index) % 360}#{/else} fa-4x fa-border" aria-hidden="true"></i><br>
            *{#{if cercle.logo}<img src="${cercle.logo.url}" class="img-responsive" style="margin-bottom:20px;">#{/if}}*
                *{#{else}<div style="width:128px; height:128px; background-color:#727b84; margin-right:auto; margin-left:auto; margin-top:auto; color:white;">${cercle.nom}</div>#{/else}}*
            </a>

            <a style="color: inherit;" href="@{frontoffice.PublicFront.afficherCercle(cercle.slug)}"><h4>${cercle.nom}</h4></a>
            <p class="text-muted">
                ${cercle.description}
            </p>
        </div>
        #{/list}
    </div>
    #{/if}
</div>

#{if articles}
<div style="height:250px; background-image: url('https://s3.eu-west-3.amazonaws.com/archipel-citoyen/STATIQUE/production.png'); background-position: center center; -webkit-background-size: cover;background-size: cover;">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-left">
                <br>
                <h1 class="text-bold"  style=" font-weight: bolder; font-size: 36px; color: black !important;"> Nos productions </h1>
                <div class="lead"  style="font-size: 24px; color: black !important;;">
                    <p>Découvrez les productions des cercles de l'Archipel Citoyen</p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
#{/if}

<div class="container" style="padding-top:40px;">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-8">
            #{if articles}
            <h3>Nos dernières publications</h3>
            <div class="row">
                #{list items:articles, as:'article'}
                <div class="col-xs-12 col-sm-12 col-md-6" style="line-height: 18px;">
                    <p style="border-top:1px solid black;" class="text-justify">
                        <a href="@{frontoffice.PublicFront.afficherCercle(article.cercle.slug)}"><span class="text-info">${article?.cercle?.nom}</span></a><br>
                        <a href="@{frontoffice.PublicFront.afficherArticle(article.cercle.slug, article.slug)}"><strong>${article.titre}</strong></a><br>
                        <span class="text-muted text-justify">${article.introduction}</span>
                    </p>
                </div>
                #{/list}
            </div>
            #{/if}
        </div>
        <div class="col-md-4">
            #{fragment nom:'CALENDRIER'/}
        </div>
    </div>
</div>


<div class="container" style="margin-top:30px;">
    #{if evenement}
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <h2>Prochain événement</h2>
            <h3 class="text-muted">${evenement.titre}</h3>
            <p style="margin-top: 20px;">${evenement.description}</p>
            <div class="background">${evenement.dateDebut?.format("EEE dd MMM yyyy")}<br>
            ${evenement.dateDebut?.format("HH:mm")}<br>
                #{if evenement.lieu}<i class="ion ion-paper-airplane"></i>&nbsp; ${evenement.lieu}#{/if}
            </div>

        </div>
        <div class="col-lg-6 text-center">
            #{if evenement.urlImage}
                <img class="img-fluid rounded" src="${evenement.urlImage}" alt="" style="width:700px; max-height: 300px;">
            #{/if}
            #{elseif evenement.lat && evenement.lon}
                <div id="map" style="width: 100%; height:250px;"></div>
            #{/elseif}
        </div>
    </div>
    <hr>
    #{/if}

    <div class="jumbotron" style="padding-top: 10px; padding-bottom:10px;">
        <h3>Je souhaite être tenu informé !</h3>
        <p>Vous serez inscrit à notre newsletter.</p>
        <form class="form" method="post" action="@{frontoffice.PublicFront.inscriptionNewsletter}">
            <div class="row">
                <div class="col-md-3"><input type="text" class="form-control" name="prenom" value="${flash.prenom}" placeholder="Prénom"></div>
                <div class="col-md-3"><input type="text" class="form-control" name="nom"    value="${flash.nom}" placeholder="Nom"></div>
                <div class="col-md-3"><input type="text" class="form-control" name="email"  value="${flash.email}" placeholder="Email"></div>
                <div class="col-md-3"><button type="submit" class="btn btn-block btn-default">Je m'inscris à la newsletter</button></div>
            </div>
        </form>
    </div>
</div>

#{if evenement && evenement.lat && evenement.lon}
<script>
    var map;
    function initMap() {

        var eventMarker = {lat: ${evenement.lat}, lng: ${evenement.lon}};

        map = new google.maps.Map(document.getElementById('map'), {
            center: eventMarker,
            zoom: 16
        });

        var marker = new google.maps.Marker({
            position: eventMarker,
            map: map,
            title: '${evenement.lieu}'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnJhlCf8LCqikYDgypHvIA4OlwpWbP7go&callback=initMap"
        async defer></script>
#{/if}