#{extends 'frontoffice/basePageFrontoffice.html'/}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            %{def i=0}%
            #{list items:slides, as:'slide'}
                <li data-target="#carouselExampleIndicators" data-slide-to="${i}" class="#{if slide_isFirst}active#{/if}"></li>
                %{i++}%
            #{/list}
        </ol>
        <div class="carousel-inner" role="listbox">

            #{list items:slides, as:'slide'}
            <div class="carousel-item #{if slide_isFirst}active#{/if}" style="background-image: url('${slide.urlImage}')">
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="carousel-caption d-none d-md-block text-right">
                            <h1>${slide.titre}</h1>
                            <p>${slide.sousTitre}</p>
                            #{if slide.texteBouton}<p><a class="btn btn-lg btn-primary" href="${slide.urlBouton}" role="button">${slide.texteBouton}</a></p>#{/if}
                        </div>
                    </div>
                </div>
            </div>
            #{/list}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédant</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</header>

<div class="container">
    *{<h1 class="my-4">L'Archipel Citoyen</h1>}*

    *{<div class="row text-center" style="margin-top: 50px;">}*
        *{<div class="col-lg-4">}*
            *{<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">}*
            *{<h2>Je lis</h2>}*
            *{<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>}*
            *{<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>}*
        *{</div><!-- /.col-lg-4 -->}*
        *{<div class="col-lg-4">}*
            *{<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">}*
            *{<h2>J'appuis</h2>}*
            *{<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>}*
            *{<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>}*
        *{</div><!-- /.col-lg-4 -->}*
        *{<div class="col-lg-4">}*
            *{<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">}*
            *{<h2>Je participe</h2>}*
            *{<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>}*
            *{<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>}*
        *{</div><!-- /.col-lg-4 -->}*
    *{</div><!-- /.row -->}*

    *{<hr>}*

    #{fragment nom:'FRONTOFFICE_INDEX_PAGE'/}


        <!-- Features Section -->
    #{if evenement}
    <div class="row">
        <div class="col-lg-6">
            <h2>Prochain événement</h2>
            <h3 class="text-muted">${evenement.titre}</h3>
            <p style="margin-top: 20px;">${evenement.description}</p>
            <div class="background">${evenement.dateDebut?.format("EEE dd MMM yyyy")}<br>
            ${evenement.dateDebut?.format("HH:mm")}<br>
                #{if evenement.lieu}<i class="ion ion-paper-airplane"></i>&nbsp; ${evenement.lieu}#{/if}
            </div>

        </div>
        <div class="col-lg-6 text-center">
            <img class="img-fluid rounded" src="${evenement.urlImage}" alt="" style="width:700px; max-height: 300px;">
        </div>
    </div>
    #{/if}
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    *{<div class="row mb-4">}*
        *{<div class="col-md-8">}*
            *{<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>}*
        *{</div>}*
        *{<div class="col-md-4">}*
            *{<a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>}*
        *{</div>}*
    *{</div>}*

    #{fragment nom:'FRONTOFFICE_INDEX_CTA'/}


</div>